body {  
    background-image:url(https://s-media-cache-ak0.pinimg.com/736x/e8/0e/88/e80e8899fab0e06bde7afb612a1a4f0f.jpg);
    background-repeat: no-repeat;
    background-size: cover
}
#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-family:'Source Sans Pro', sans-serif; 
    font-size: 20px
 }
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: white;
    color: black;
}
#me {
    width: 350px;
    height: 400px;
   float:left;
    display: inline;
}
#title{
    text-align: center;
    font-family:'Dosis', sans-serif;
    color:black;
    font-size: 6em;
}
#subtitle{ 
    text-align: center;
    color:black;
     font-family:'Source Sans Pro', sans-serif; 
     font-size: 4.5em
}
#hey {
    font-family:'Source Sans Pro', sans-serif; 
    font-size: 1.2em;
}
#qmark {
float: none;
}
 #hey {
     text-align: center;
     color: black;
     font-family:'Source Sans Pro', sans-serif; 
     font-size: 1.2em
 }
 #fav {
     text-align: center;
     font-family:'Dosis', sans-serif;
     color:black;
     font-size: 1.5em
}
 #things {
     text-align: center;
     color:black;
     font-family:'Source Sans Pro', sans-serif; 
     font-size: 1.2em
}
 #html {
     width: 200;
     height: 200;
 }
h2 {
      text-align: center;
     font-family:'Dosis', sans-serif;
     color:black;
     font-size: 1.5em   
}
#lang {
    text-align: center;
     color: black;
     font-family:'Source Sans Pro', sans-serif; 
     font-size: 1.2em
 }
#contact {
    text-align: center;
     color:black;
     font-family:'Source Sans Pro', sans-serif; 
     font-size: 1.2em
}
.form-group {
    width: 25%;
}
#email {
    width:200px;
}
#FAQ {
    text-align: center;
     color:black;
     font-family:'Source Sans Pro', sans-serif; 
     font-size: 1.2em
}
.slides {
    padding: 50px
}
.mySlides {
    width:650px;
    height: 500px;
}