body {  
    background-color: white;

}
#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-family:'Source Sans Pro', sans-serif; 
    font-size: 20px
 }
li {
    float: left;
}
li a {
     display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

 #me {
    border-radius: 50%;
    width: 350px;
    height: 400px;
}
#title{
    text-align: center;
    font-family:'Dosis', sans-serif;
    color:black;
    font-size: 6em;
}
#subtitle{ 
    text-align: center;
    color:gray;
     font-family:'Source Sans Pro', sans-serif; 
     font-size: 5em
}
#qmark {
float: none;
}
 #hey {
     text-align: center;
     color: gray;
     font-family:'Source Sans Pro', sans-serif; 
     font-size: 1.2em
 }
 #fav {
     text-align: center;
     font-family:'Dosis', sans-serif;
     color:black;
     font-size: 1.5em
}
 #things {
     text-align: center;
     color: gray;
     font-family:'Source Sans Pro', sans-serif; 
     font-size: 1.2em
}
 #html {
     width: 200;
     height: 200;
 }
    h2 {
      text-align: center;
     font-family:'Dosis', sans-serif;
     color:black;
     font-size: 1.5em   
}
#lang {
    text-align: center;
     color: gray;
     font-family:'Source Sans Pro', sans-serif; 
     font-size: 1.2em
 }
#contact {
    text-align: center;
     color: gray;
     font-family:'Source Sans Pro', sans-serif; 
     font-size: 1.2em
}